# Dataset
data/

# Trained model
models/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# Node
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db